<div class="header">
  <a class="logo" href="/">
    <h1>Shopping street</h1>
    <h2>мода с доставкой на дом</h2>
  </a>  

  <div class="contact">
    <h2>8 (495) 123 6547</h2>
    <a href="">Напишите нам</a>
  </div>

  <div class="social">
    <a href=""><img src="/icons/facebook.png" alt="Наша страница Facebook"></a>
    <a href=""><img src="/icons/twitter.png" alt="Новости магазина в Twitter"></a>
    <a href=""><img src="/icons/instagram.png" alt="Все самое интересное в Instagram"></a>
  </div>

  {{#link-to 'cart' classNameBindings=":cart isFull"}}
    <div><img src="/icons/cart.png" alt="Количество товаров в корзине"><span class="cart_quantity">{{ products_count }}</span></div>
    <div><img src="/icons/ruble.png" alt="Стоимость покупки" class="ruble"><span>{{ money subtotal }}</span></div>
  {{/link-to}}
</div>

<div class="nav top">
  <div class="menu">
    <div class="categories">
      <a href="" class="link">Верхняя одежда</a>
      <a href="" class="link">Деним</a>
      <a href="" class="link">Платья</a>
      <a href="" class="link">Юбки</a>
      <a href="" class="link">Блузки</a>
    </div>
    <div class="shop">
      {{link-to "Оплата" "payment" class="link"}}
      {{link-to "Доставка" "delivery" class="link"}}
      <a href="" class="link">Блог</a>
    </div>
  </div>
</div>

{{ outlet }}

<div class="nav bottom">
  <div class="menu">
    <div class="categories">
      <a href="" class="link">Верхняя одежда</a>
      <a href="" class="link">Деним</a>
      <a href="" class="link">Платья</a>
      <a href="" class="link">Юбки</a>
      <a href="" class="link">Блузки</a>
    </div>
    <div class="shop">
      {{link-to "Оплата" "payment" class="link"}}
      {{link-to "Доставка" "delivery" class="link"}}
      <a href="" class="link">Блог</a>
    </div>
  </div>
</div>

<div class="footer">
  <a class="logo" href="/">
    <h1>Shopping street</h1>
    <h2>мода с доставкой на дом</h2>
  </a>  

  <div class="contact">
    <h2>8 (495) 123 6547</h2>
    <a href="">Напишите нам</a>
  </div>

  <div class="social">
    <a href=""><img src="/icons/facebook.png" alt="Наша страница Facebook"></a>
    <a href=""><img src="/icons/twitter.png" alt="Новости магазина в Twitter"></a>
    <a href=""><img src="/icons/instagram.png" alt="Все самое интересное в Instagram"></a>
  </div>

  <div class="copyright">
    <p>Магазин работает на платформе <a href="">Бамбук</a></p>
    <p>© FashionStreet 2014. Все права защищены</p>
  </div>  
</div>