{{#if isFull}}
  <div class="meta">
    <div class="breadcrumbs">
      {{link-to "Каталог" 'products' class='crumbs'}} / 
      {{link-to "Корзина" 'cart' class='crumbs'}}
    </div>
  </div>

  <div class="my_cart"> 
    <h2>Мои покупки</h2> 
    <div class="cart_items">
      {{#each line_item in line_items}}
        <div class="cart_item">
          <a href="" class="image">
            <img {{ bind-attr src="line_item.product.img" alt="line_item.product.name" }}>
          </a>
          <div class="description">
            <h4 class="name">{{ line_item.product.name }}</h4>
            <a href="" class="delete">×</a>
            <div class="info">
              <div class="size">Размер: 42</div>
              <div class="amount">
                <input type="text" placeholder="0" {{ bind-attr value='line_item.count' }}>
                <span class="multiple">×</span>
                <div class="price">{{ money line_item.product.price }} руб.</div>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="total">
      <h4>Общая сумма заказа</h4>
      <h2>{{ money subtotal }} <span class="currency">руб.</span></h2>
      <h4>+ стоимость доставки</h4>
      <input type="submit" value="Оформить">
    </div>
  </div>
{{else}}
  <div class="page">
    <div class="text">
      <h1>Где же ваши обновки?</h1>
      <h1>Обратите внимание на новинки нашего магазина</h1>
      {{link-to "Вернуться к каталогу" 'products' class='back'}}
    </div>
    <div class="illustration">
      <img src="/assets/images/image.png" alt="Ошибка 404">
    </div>
  </div>
{{/if}}